/* PRESETS
/––––––––––––––––––––––––*/

.content-block {
	//create the "container" with this applied to any row or any 100% width element
	padding: 0 30px;
	@include media(">phone") {
		padding: 0 55px;
		max-width: 1880px;
		margin: auto;
	}

	&--small{
		padding: 0 30px;
		@include media(">phone") {
			padding: 0 85px;
			max-width: 1300px;
			margin: auto;
		}
	}
}

.noscroll {
	overflow: hidden;
}

:focus {
	outline: 0;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

%cover {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.gutten-editor {
	> p {
		margin-bottom: 30px;
	}
	a {
		color: #00b5da;
		text-decoration: underline;
	}
}

.checkbox-span {
	background-color: #00b5da;
	border-radius: 100%;
	display: inline-block;
	height: 24px;
	margin-right: 1rem;
	width: 24px;
	> svg {
		path {
			stroke: $color__bright;
		}
	}
}

// .fdry-max-width {
// 	max-width: 750px;
// }
